.franchisees
    overflow scroll

    table
        font-size 10px

        th
            text-align center
            vertical-align middle !important
            line-height 1

        td
            white-space nowrap

            i
                display block
                margin 3px auto 0
